.page-header
  %h1= t('.title')

.container
  .col-md-6.col-md-offset-3
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control', autofocus: true
      .form-group
        = f.label :password
        - if @validatable
          %i= t('.minimum_chars', minimum: @minimum_password_length)
        = f.password_field :password, class: 'form-control', autocomplete: 'off'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off'
      .form-group
        = f.submit t('.submit'), class: 'btn btn-large btn-block btn-primary'

    = render '/devise/shared/links'
