= form_for tournament do |f|
  .form-group
    = f.label :doors_open_time
    = f.text_field :doors_open_time, class: 'form-control', placeholder: Tournament.human_attribute_name(:doors_open_time), type: 'datetime-local'
  .form-group
    = f.label :tournament_end
    = f.text_field :tournament_end, class: 'form-control', placeholder: Tournament.human_attribute_name(:tournament_end), type: 'datetime-local'
  .form-group
    = f.submit t('.create_tournament'), class: 'btn btn-large btn-block btn-primary', :type => 'button'
