= form_for tournament do |f|
  .form-group
    = f.label :type
    = f.select :type, [[t('.types.netrunner'), Android::NetrunnerTournament.name]], {}, {class: 'form-control'}
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: Tournament.human_attribute_name(:title)
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', placeholder: Tournament.human_attribute_name(:description)
  .form-group
    = f.label :tournament_start
    = f.text_field :tournament_start, class: 'form-control', placeholder: Tournament.human_attribute_name(:tournament_start), type: 'datetime-local'
  .form-group
    = f.label :signup_url
    = f.text_field :signup_url, class: 'form-control', placeholder: Tournament.human_attribute_name(:signup_url), type: 'url'
  .form-group
    = f.submit t('.next_step'), class: 'btn btn-large btn-block btn-primary'
