.row
  .col-md-9
    %h3= t('.tournament_info')
    %table.table.table-striped
      %tbody
        %tr
          %th= Tournament.human_attribute_name :type
          %td= tournament.tournament_type
        %tr
          %th= Tournament.human_attribute_name :title
          %td= tournament.title
        - if tournament.tournament_start.present?
          %tr
            %th= Tournament.human_attribute_name :tournament_start
            %td= l(tournament.tournament_start)
  .col-md-3
    .pull-right
      = render '/shared_partials/qr_code', qr_code: (shown_tournament || tournament).show_qr_code
