- if tournament.stages.any?
  #stages{data: {update_url: sort_tournament_path(tournament)}}
    - tournament.stages.each do |stage|
      %div{id: "stage_#{stage.id}"}
        = form_for stage, as: :stage, url: stage_path(stage) do |f|
          .row.stage-row
            .col-md-4
              .stage-display
                = render '/stages/show', stage: stage
                = link_to t('.destroy_stage'), stage_path(stage), class: 'btn btn-block btn-danger',
                                                                   type: 'button',
                                                                   method: :delete,
                                                                   data: {confirm: t('.confirm_destroy')}
            .col-md-8
              .row
                .col-md-6
                  = render '/stages/times_form', stage: stage, f: f
                .col-md-6
                  = render '/stages/form', stage: stage, f: f
              .form-group
                = f.submit t('.update_stage'), class: 'btn btn-large btn-block btn-primary'
  .row
    .col-md-4
      &nbsp;
    .col-md-4
      &nbsp;
    .col-md-4
      %a.btn.btn-block.btn-success{:type => 'button', href: new_stage_path(tournament_id: tournament.id)}= t('.create_stage')
- else
  .row
    .col-md-4
      .stage-display
        %p= t('.no_stages')
    .col-md-4
      &nbsp;
    .col-md-4
      %a.btn.btn-block.btn-success{:type => 'button', href: new_stage_path(tournament_id: tournament.id)}= t('.create_stage')
