%ul.nav.nav-tabs
  - if tournament.creation_completed?
    - edit_tabs.each do |tab, icon|
      - is_active = tab == active_tab
      %li{class: is_active ? 'active' : ''}
        = link_to(tab: tab) do
          %span{class: "glyphicon glyphicon-#{icon}"}
          = t(".tabs.#{tab}")
  - else
    - new_tabs.each do |tab, icon|
      - is_active = tab == active_tab
      %li{class: is_active ? 'active' : 'disabled'}
        = link_to(tab: is_active ? tab : active_tab) do
          %span{class: "glyphicon glyphicon-#{icon}"}
          = t(".tabs.#{tab}")

.page-header
  %h1= t('.title', tournament: tournament.title)
.container
  = render 'info_header', tournament: decorate(tournament)
  = render active_tab
