%ul.nav.nav-tabs
  - edit_tabs.each do |tab, icon|
    - is_active = tab == active_tab
    %li{class: is_active ? 'active' : ''}
      = link_to(tab: tab) do
        %span{class: "glyphicon glyphicon-#{icon}"}
        %span.tab-description= t(".tabs.#{tab}")

.page-header
  %h1= t('.title', tournament: tournament.title)

.container
  .info-header
    %h2= t(".tabs.#{active_tab}")
    = render 'info_header', tournament: tournament
  = render active_tab
