.page-header
  %h1= t('.title')

- if tournaments.any?
  %table.table.table-striped
    %thead
      %tr
        %th= Tournament.human_attribute_name(:title)
        %th= Tournament.human_attribute_name(:description)
        %th= Tournament.human_attribute_name(:touranment_type)
        %th= Tournament.human_attribute_name(:tournament_start)
        %th
    %tbody
      - decorate_list(tournaments).each do |tournament|
        %tr
          %td= tournament.title
          %td= tournament.description
          %td= tournament.tournament_type
          %td= tournament.tournament_start.present? ? l(tournament.tournament_start, format: :short) : ''
          %td.text-right
            = link_to t('.tournament_links.show'), tournament_path(id: tournament.show_key), class: 'btn btn-primary'
            = link_to t('.tournament_links.admin'), edit_tournament_path(tournament), class: 'btn btn-primary'

- else
  %p= t('.no_tournaments')

%a.btn.btn-large.btn-block.btn-primary{:type => 'button', href: new_tournament_path}= t('.create_tournament')
